
<meta charset="UTF-8">

<!-- left 导航  -->
<div class="layui-side layui-bg-black" id="left_menu" style="top: 60px; ">
<div class="layui-side-scroll">
	
	<ul class="layui-nav layui-nav-tree" lay-filter="left_menu">
		<li class="layui-nav-item layui-nav-itemed"    >
				<dd  dd_text="用户管理"   type="0"  url="/admin/user_manage"  id="1" ><a href="#" class="layui-icon layui-icon-rate-solid" >&nbsp;用户管理</a></dd>
			   <dd  dd_text="图书管理"   type="0"  url="/admin/book_manage"  id="2" ><a href="#"  class="layui-icon layui-icon-rate-solid">&nbsp;图书管理</a></dd>
		</li>
		<li class="layui-nav-item layui-nav-itemed"    >
			<a href="javascript:;"  >流水查看</a>
			<dl class="layui-nav-child"  >
				<dd  dd_text="借书流水"   type="0"  url="/admin/borrow_manage"  id="31" ><a href="#"><i  class="layui-icon layui-icon-rate-solid"></i>&nbsp; 借书流水</a></dd>   
			   <dd  dd_text=" 还书流水"   type="0"  url="/admin/return_manage"  id="32" ><a href="#"><i  class="layui-icon layui-icon-rate-solid"></i>&nbsp; 还书流水</a></dd>
			   <dd  dd_text="用户借阅"   type="0"  url="/admin/userbook_manage"  id="33" ><a href="#"><i  class="layui-icon layui-icon-rate-solid"></i>&nbsp; 用户借阅</a></dd>
			</dl>
		</li>
	</ul>
	
</div>

</div>
<!-- left 导航 结束 div -->