<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>台屿书屋</title>
<div th:include="/common/layui"></div>
<div th:include="/common/jq"></div>
<link rel="import" href="/html/page.html" id="page"/>
</head>
<body>
<div th:include="/book/manage_top" id="in" style="height: 60px; width: 100%;" name="123"></div>
<div style="padding-left: 60px;padding-right: 60px;padding-top: 20px;padding-bottom: 60px;">
 <h1 style="text-align: center;">台屿书屋</h1>
 
 <div style="padding-top: 40px;padding-bottom: 40px;">
 <p>　　09年是我读四年级的时候，那时候是我第一次到这里借书，学校只让四年级及以上的同学借书，书很有限怕弄坏。 农村学校很穷没有图书馆，是大家一起合力办了这个书屋，
 又有爱心人士捐了书，我们当时才有课外读物，真的很感谢他们。
  </p>
  <p style="text-align: center;">
  <img src="/image/library1.jpg" alt="退休老人为孩子办书屋 10年风雨无阻8点准时开门" width="597" height="396" border="0" title="退休老人为孩子办书屋 10年风雨无阻8点准时开门"/>
  </p><p style="text-align: center;">
  <span style="font-family: 楷体, 楷体_GB2312, SimKai;">　图书室门口</span></p>
  <p style="text-align: center;"><img src="/image/library2.jpg" alt="退休老人为孩子办书屋 10年风雨无阻8点准时开门" width="598" height="397" align="" border="0" title="退休老人为孩子办书屋 10年风雨无阻8点准时开门"/></p>
  <p style="text-align: center;"><span style="font-family: 楷体, 楷体_GB2312, SimKai;">　　借书记录上密密麻麻</span></p><p>　
  　(记者 徐昕昀/文 刘朔/图)</p>
  </div>
  <p>　
  　蜿蜒的乡村小巷里有一座百年宗祠,它的对面是一个农家书屋,这个隐藏在福州台屿村里的小型图书馆,现在成为村子里孩子们的学习天堂。午后的阳光洒落在图书馆里,图书馆的创办者陈松年和几位老人正在布置文艺演出会场。至今,农家书屋走过了近10年。</p>
  <p>　　“希望孩子们能有更多的课外书可以阅读,这是我创办图书馆的初心。”73岁的陈松年回忆起创办图书馆的过程,满眼尽是笑意。</p>
  <p>　　<strong>10年风雨无阻图书馆8点准时开门</strong></p>
  <p>　　2006年,陈松年退休赋闲在家,他将大量的时间放在阅读上。有一天,村民告诉陈松年,村子里的陈氏宗祠里锁着500多本书,没有人管理。看着这些书被荒废着,陈松年觉得可惜。于是,他和几位老人一起在12平方米的祠堂里办起了图书馆。</p><p>　　老人们将这些书分门别类放置在5个书橱里,利用空余的时间管理图书,向村民们开放。图书馆办起来以后,每到放学时间,这里总是充满着孩子们的欢声笑语。</p>
  <p>　　由于祠堂活动面积狭小,考虑到孩子们的安全问题,在政府的资助下,老人们将图书馆搬到了祠堂对面一间120多平方米的房子里,正式为图书馆起名为“台屿老人协会图书馆”,书籍从500多本扩大到现在的1.8万本。但图书量扩大以后,也就没办法分类摆放了。</p>
  <p>　　每周二、四、六是图书馆开放的时间。早上8点,陈松年总是准时打开图书馆的大门,等待学生们的到来,10年来风雨无阻。</p>
  <p>　　<strong>创办图书馆是为提高孩子的阅读量</strong></p>
  <p>　　“在年老的时候,为孩子们做点事情让我觉得生活很有意义。”陈松年告诉东南快报记者,他上初中时,当时唯一的阅读条件就是到东街口的图书馆借书。那时,他拿着仅有的1元,从台屿村走上15公里到位于东街口的图书馆借书。</p>
  <p>　　“当时,我只看过一本《钢铁是怎样炼成的》。在当时的生活条件下,1元可以算是一笔不小的数目,那个时候家里一天的生活费只有几分钱,而借一本书的押金却是1元。”陈松年说为了孩子们能有更多的课外书阅读,他才和村子里的老人们一起办起了图书馆。</p>
  <p>　　陈松年将“我们也在播种文化”作为图书馆的座右铭,而“走过10年,没有终点也不消停,仍在走,在路上……”,这是今年图书馆10周年庆的主题。</p>
  <p>　　十年间,有的人走了,有的人身体已无法支持这份工作,当初的九名老人,现在剩下六人,年纪最小的73岁,最大的77岁。陈松年表示他们还会继续下去,他们也相信一定会有人接过接力棒,让这里的读书声传承下去。</p>
  <p>　　<strong>为学生们自制借书证</strong></p>
  <p>　　2007年,为了方便学生们借书,陈松年制作了卡片式借书证,每张纸质的借书证上画着10个空格,可以借阅10本书,一张借书证用完以后再黏贴上新的借书证。为了更好地鼓励学生们前来阅读,陈松年和台屿小学的老师们共同在学校里推广这个“农家书屋”。</p>
  <p>　　图书馆刚开办的时候,孩子们纷纷拿着借书证前来借书。随着孩子们阅读量的增加,纸质借书证也越做越多,图书馆的几个柜子里放满了孩子们用过的借书证。而后,考虑到纸质借书证容易丢失,且不利于管理,陈松年想出了一个法子——将借书证换成一本本登记的书册。</p>
  <p>　　2009年,陈松年和图书馆的管理员们制作了几本借书册,按照小学的年级和班级进行分类登记。陈松年向东南快报记者展示借书册,每本借书册的封面上都写着“**年**班”,翻开借书册,在每张上都写着这个班级里借书学生的名字。</p>
  <p>　　“来借书只要找到写着班级的借书册,翻开写着自己名字的那一页,登记后就可以借书了。”陈松年指着一堆堆的借书册告诉东南快报记者,此前也有人向图书馆捐赠电脑,但因为管理人员都是老人,所以还是保留了这种传统的手写借书方式。</p>
  <p>　　<strong>图书馆是孩子们的又一个学习天地</strong></p>
  <p>　　“借书量最多的学生,一个学期可以借阅60多本书,最少的一个学期也能看二三十本书。”陈松年说,每隔一段时间,他和管理人员会对借书量进行统计,当发现某个学生的在某个星期的借书量不多时,他就到学校里找老师了解情况。</p>
  <p>　　为鼓励学生阅读,每个学期末,陈松年会举办一次“爱读书,读好书,读书好”的活动,并评选出一个学期中借书量最多的几位学生,颁发一些文具作为奖励。</p><p>　　这个小小的图书馆不仅是学生们借书的地方,每隔一段时间,陈松年会邀请一些名师来这里做学习讲座,还会请各个高校的学生们来为孩子们补习功课。另外,陈松年还在图书馆开辟了一块学习园地,将孩子们写的读书心得黏贴在墙报上。</p>
  <p>　　放学后,孩子们还喜欢在图书馆写作业,遇到不懂的问题时,他们常常向陈松年指教,这些年来,陈松年为孩子们批改了不少作业。“和这些孩子们在一起是我暮年最快乐的时光。”陈松年说。</p><p>　　每隔一段时间,陈松年还会整理书架上的图书,将近千本孩子们看过的图书打包好,拿到福州市少儿图书馆交换新书。“少儿图书馆向我们捐赠了6000多本图书,这些图书是‘活’的,孩子们看过以后,可以将这些书拿到图书馆去交换新一批图书。”陈松年说。</p>

</div>
</html>